blockquote {
    --color: cornflowerblue;
    border-left: 4px solid var(--color);
    background-color: color-mix(in srgb, var(--color) 30%, transparent);
    color: color-mix(in srgb, var(--color) 40%, black);
    padding: 0.5em;
    padding-left: 1em;
    margin: 0 0 1em;
}