body,
html {
  background: #fff;
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
}

nav {
  border-bottom: 1px solid #e1e1e1;
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

section {
  flex: 0 1 55%;
  box-sizing: border-box;
  height: 100vh;
  background: #ffffff;
  padding: 1em;
}

section + section {
  flex: 0 1 45%;
  background: #f9fafb;
  border-left: 1px solid #e1e1e1;
}

form-wrapper {
  max-width: 500px;
  margin: 0 20px 0 auto;
  box-sizing: border-box;
  padding: 60px 0;
  text-align: left;
}

rebilly-instruments-summary {
  margin: 60px 40px 0 20px;
}

@media (max-width: 600px) {
  #app {
    flex-direction: column-reverse;
  }

  rebilly-instruments-summary {
    margin: 0;
    margin: 20px;
  }

  form-wrapper {
    max-width: auto;
    margin: 0;
    padding: 20px;
    text-align: left;
  }
}

.btn-outline {
  font-size: var(--rebilly-buttonFontSize);
  font-family: var(--rebilly-buttonFontFamily);
  line-height: var(--rebilly-buttonFontLineHeight);
  padding: var(--rebilly-spacingS);
  box-sizing: border-box;
  color: var(--rebilly-colorPrimary);
  border-color: var(--rebilly-colorPrimary);
  background: transparent;
  border-radius: var(--rebilly-buttonBorderRadius);
  font-weight: var(--rebilly-buttonFontWeight);
  margin: calc(var(--rebilly-spacing2xs) + var(--rebilly-spacingS) / 2) 0;
  width: 100%;
  cursor: pointer;
  min-height: 44px;
  transition: all 0.2s ease;
  outline: none;
}

.m-t-0 {
  margin-top: 0;
}

.m-r-1 {
  margin-right: var(--rebilly-spacingS);
}

.amount-selector {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: var(--rebilly-spacingM);
}

.button-group {
  display: flex;
  width: 100%;
}

.button-group button {
  font-size: var(--rebilly-buttonFontSize);
  font-family: var(--rebilly-buttonFontFamily);
  line-height: var(--rebilly-buttonFontLineHeight);
  padding: var(--rebilly-spacingS);
  box-sizing: border-box;
  color: var(--rebilly-colorPrimary);
  border-color: var(--rebilly-colorPrimary);
  background: transparent;
  font-weight: var(--rebilly-buttonFontWeight);
  margin: calc(var(--rebilly-spacing2xs) + var(--rebilly-spacingS) / 2) 0;
  cursor: pointer;
  min-height: 44px;
  transition: all 0.2s ease;
  outline: none;
}

.button-group button:hover {
  color: var(--rebilly-buttonColor);
  background: var(--rebilly-buttonBackgroundColor);
}

.button-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-group button {
  border: 1px solid black;
  margin: 0px;
}

.button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.action-input {
  display: flex;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: var(--rebilly-spacing2xs);
}

.action-input:focus-within {
  outline: 1px solid blue;
}

.action-input input {
  border: none;
  flex-grow: 2;
  margin-right: 4px;
  height: 100%;
}

.action-input input:focus {
  outline: none;
}

.action-input button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 100%;
  border-radius: 4px;
  padding: var(--rebilly-spacingXs);
}

.action-input button:hover {
  background: var(--rebilly-colorPrimary);
  color: white;
}
